.learning-plan-box {
  box-shadow: -5px -5px 25px 0px #ffffff40;
  box-shadow: 5px 5px 25px 0px #00000040;
}

.MuiPagination-ul li button {
  border-radius: 0px;
  padding: 14px;
  font-weight: 600;
  color: #0079c1;
  background-color: transparent;
}

.MuiPagination-ul li button.Mui-selected {
  border-radius: 0px;
  padding: 14px;
  color: #fff;
  background-color: #0079c1;
  border: 1px solid #0079c1;
}

.MuiPagination-ul li button.Mui-selected:hover {
  border-radius: 0px;
  padding: 14px;
  color: #fff;
  font-weight: 600;
  background-color: #0079c1;
}
